form a {
  margin-left: 5px;
}

.header {
  margin-bottom: 20px;
}

.display-none {
  display: none;
}

th {
  text-align: center;
}

.profile {
  text-align: center;
}

.profile img {
  width: 77px;
  height: 77px;
  border-radius: 15px;
}

.profile p {
  font-weight: bold;
  font-size: 13px;
}

.link {
  text-align: center;
}

.link > img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.pagination {
  float: right;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, .45);
  -webkit-transition: all .45s ease-in-out;
  -moz-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
}

img {
  display: block;
  width: 100%;
}

.head,
.body,
.foot,
.box,
.card {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  max-width: 380px;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  width: initial;
}

.card {
  background: radial-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  padding: 10px;
}

.head {
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px 3px 0 0;
  color: #325976;
  font-size: 16px;
  height: initial;
  max-width: 380px;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  width: initial;
}

.head h2 {
  background: rgba(0, 0, 0, .08);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
  display: inline-block;
  height: 60px;
  margin: -10px 10px -10px -10px;
  padding: 10px;
  vertical-align: middle;
}

.head h4 {
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  font-size: 10px;
  left: 0;
  letter-spacing: 1px;
  margin: 0 auto 0 75px;
  position: absolute;
  right: 0;
  top: 34px;
}

.head img {
  border-radius: 3px;
  display: block;
  height: 40px;
  margin: 0 auto;
  object-fit: cover;
  width: 40px;
}

.head p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.head .word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.head .letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.body {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 0;
}

.foot {
  background: #EEE;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0 0 3px 3px;
  border-top: 0;
  color: #265E88;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 600;
}

.foot .claim p {
  white-space: nowrap;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.foot .claim a {
  text-decoration: none;
}

.paginate {
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 20px;
}
