form a {
  margin-left: 5px;
}

.paginate {
  float: right;
  margin-top: 10px;
}

.header {
  margin-bottom: 20px;
}

.display-none {
  display: none;
}

.profile > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__image {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

.profile__name {
  margin-left: 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
}

.card {
  padding: 15px;
  margin-top: 10px;
  background: #f7f7f7;
}

.card__content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 10px 0;
}

.card__content img {
  height: auto;
  width: 100%;
}

.metadata p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metadata a {
  text-decoration: none;
}
